/Helloworld.class
/Variable.class
/primitive.class
/ifbloklarıgiris.class
/recapDemo1.class
/switchDemo.class
/Döngüler.class
/recapDonguler.class
/arrays.class
/reCapDemo2.class
/multiDimensionalArrayReCapDemo.class
/StringDemo.class
/StringDemo2.class
/asalSayı.class
/sesliHarfler.class
/mükemmelSayı.class
/arkadasSayılar.class
/sayıBulma.class
/methods.class
/methods2.class
